<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
  </head>
  <body>
    <form class="layui-form" action="" style="margin-right: 200px">
      <div class="layui-form-item">
        <label class="layui-form-label">USDT平台:</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="bankDetail"
            required
            lay-verify="required"
            placeholder="请输入USDT平台名称"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">钱包地址:</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="account"
            required
            lay-verify="required"
            placeholder="USDT账号"
            autocomplete="off"
            class="layui-input"
          />
        </div>
        <!-- <div class="layui-form-mid layui-word-aux">辅助文字</div> -->
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">开户人姓名:</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="account_name"
            required
            lay-verify="required"
            placeholder="请输入开户人姓名"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="usdtForm">
            立即提交
          </button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>

    <script src="__JS__/layer/layui/layui.js"></script>
    <script>
      layui.use(["jquery", "form"], function () {
        var form = layui.form(),
          $ = layui.jquery;

        //监听提交
        form.on("submit(usdtForm)", function (data) {
          $.ajax({
            url: "/user/usdtAccountStore.html",
            type: "post",
            data: data.field,
            beforeSend: function () {
              this.layerIndex = layer.load(0, { shade: [0.5, "#393D49"] });
            },
            success: function (data) {
              if (data.status == "error") {
                layer.msg(data.msg, { icon: 5 }); //失败的表情
                return;
              } else {
                layer.msg(
                  data.msg,
                  {
                    icon: 6, //成功的表情
                    time: 1000, //1秒关闭（如果不配置，默认是3秒）
                  },
                  function () {
                    location.reload();
                  }
                );
              }
            },
            complete: function () {
              layer.close(this.layerIndex);
            },
          });
          return false;
        });
      });
    </script>
  </body>
</html>
