<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
    <script src="__JS__/layer/layui/layui.js"></script>
    <script>
      layui.use(["jquery", "form", "layer", "element"], function () {
        var form = layui.form(),
          $ = layui.jquery,
          layer = layui.layer;
      });
    </script>
  </head>
  <body>
    <form
      class="layui-form"
      action=""
      style="margin-right: 100px; margin-top: 20px"
    >
      <div class="layui-form-item">
        <label class="layui-form-label">开户银行:</label>
        <div class="layui-input-block">
          <select name="bankId" lay-filter="bankId">
            {volist name="bankList" id="vo"}
            <option value="{$vo.id}">{$vo.name}</option>
            {/volist}
          </select>
        </div>
      </div>
    </form>
  </body>
</html>
