<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人中心</title>
    <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
    <script src="__JS__/layer/layui/layui.js"></script>
    <script>
      layui.use(["jquery", "form", "layer", "element"], function () {
        var form = layui.form(),
          $ = layui.jquery,
          element = layui.element;
        layer = layui.layer;
      });
    </script>
  </head>
  <body>
    <div class="layui-tab layui-tab-card" style="margin: 0">
      <ul class="layui-tab-title">
        <li class="layui-this">银行卡管理</li>
        <li>修改密码</li>
      </ul>
      <div class="layui-tab-content" style="height: 100px">
        <div class="layui-tab-item layui-show">银行卡管理</div>
        <div class="layui-tab-item">修改密码</div>
      </div>
    </div>
  </body>
</html>
