<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人中心</title>
    <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
    <script src="__JS__/layer/layui/layui.js"></script>
    <script>
      layui.use(["jquery", "form", "layer", "element"], function () {
        var form = layui.form(),
          $ = layui.jquery,
          element = layui.element,
          layer = layui.layer;
        $("#bank-add").click(function () {
          layer.open({
            type: 2,
            title: "绑定银行卡号",
            shadeClose: true,
            shade: 0.8,
            area: ["600px", "480px"],
            content: "/user/bank-store?type=bank", //iframe的url
          });
        });
        $("#bank-del").click(function () {
          layer.confirm(
            "您确认提交吗？",
            {
              btn: ["确定", "取消"], //按钮
            },
            function () {
              $.ajax({
                url: "/user/bank_del?id=" + $(this).data("id"),
                type: "delete",
                beforeSend: function () {
                  this.layerIndex = layer.load(0, {
                    shade: [0.5, "#393D49"],
                  });
                },
                success: function (data) {
                  if (data.code == 200) {
                    layer.msg(
                      data.msg,
                      {
                        icon: 6, //成功的表情
                        time: 1000, //1秒关闭（如果不配置，默认是3秒）
                      },
                      function () {
                        location.href = "/user/user_setmenu";
                      }
                    );
                  } else {
                    layer.msg(data.msg, { icon: 5, time: 2000 }); //失败的表情
                  }
                },
                complete: function () {
                  layer.close(this.layerIndex);
                },
              });
            },
            function () {}
          );
        });
      });
    </script>
  </head>
  <body>
    <div class="layui-tab layui-tab-card" style="margin: 0">
      <ul class="layui-tab-title">
        <li class="layui-this">银行卡管理</li>
        <li>修改密码</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <blockquote class="layui-elem-quote">银行卡</blockquote>
          <button class="layui-btn" id="bank-add">增加绑定</button>
          <div class="layui-form">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>用户名</th>
                  <th>绑定银行</th>
                  <th>卡号</th>
                  <th>绑定时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {volist name="list" id="vo"} {if condition="$vo.bankId!=0"}
                <tr>
                  <td>{$vo.username}</td>
                  <td>{$vo.bankDetail}</td>
                  <td>{$vo.account|}</td>
                  <td>{$vo.actionTime|date='Y-m-d H:i:m',###}</td>
                  <td>
                    <a href="javascript:;" id="bank-del" data-id="{$vo.id}"
                      ><i class="layui-icon">&#xe640;</i>
                    </a>
                  </td>
                </tr>
                {/if} {/volist}
              </tbody>
            </table>
          </div>
          <blockquote class="layui-elem-quote">USDT</blockquote>

          <div class="layui-form">
            <table class="layui-table">
              <thead>
                <tr>
                  <th>用户名</th>
                  <th>USDT平台</th>
                  <th>USDT账号</th>
                  <th>绑定时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {volist name="list" id="vo"} {if condition="$vo.bankId==0"}
                <tr>
                  <td>{$vo.username}</td>
                  <td>{$vo.bankDetail}</td>
                  <td>{$vo.account}</td>
                  <td>{$vo.actionTime|date='Y-m-d H:i:m',###}</td>
                  <td>
                    <a href=""><i class="layui-icon">&#xe640;</i> </a>
                  </td>
                </tr>
                {/if} {/volist}
              </tbody>
            </table>
          </div>
        </div>
        <div class="layui-tab-item">修改密码</div>
      </div>
    </div>
  </body>
</html>
