<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>提现</title>
  <link rel="stylesheet" href="__JS__/layui/css/layui.css" />
</head>

<body>
  <form class="layui-form" action="" style="margin-top: 20px; margin-right: 300px">
    <div class="layui-form-item">
      <label class="layui-form-label">出款方式:</label>
      <div class="layui-input-block">
        <select name="paymothod" lay-verify="required" lay-filter="switchTest" id="paymethod">
          <option value="0">银行卡</option>
          <option value="1">USDT钱包</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">选择钱包:</label>
      <div class="layui-input-block">
        <select name="bankId" lay-verify="required" id="banks">
          <option value="">请选择</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">提现金额</label>
      <div class="layui-input-inline">
        <input type="number" name="amount" required lay-verify="required" min="100" placeholder="请输入提现金额"
          autocomplete="off" class="layui-input" />
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">资金密码</label>
      <div class="layui-input-inline">
        <input type="password" name="secpass" required lay-verify="required" placeholder="请输入资金密码" autocomplete="off"
          class="layui-input" />
      </div>
      <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="form-btn">
          立即提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  <script src="__JS__/layui/layui.js"></script>
  <script>
    layui.use(["jquery", "form", "layer", "element"], function () {
      var form = layui.form,
        $ = layui.jquery,
        layer = layui.layer;
      getBank(0);
      //监听指定开关
      form.on("select(switchTest)", function (data) {
        getBank(data.value);
      });

      function getBank(params) {
        $.ajax({
          url: "/user/get_banks?type=" + params,
          type: "get",
          success: function (data) {
            if (data.code == 200) {
              $.each(data.data, function (index, item) {
                $('#banks').append(new Option(item.account, item.id)); // 下拉菜单里添加元素
              });

              form.render("select");
            }
          },
        });
      }
    });
  </script>
</body>

</html>