<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>提现</title>
  <link rel="stylesheet" href="__JS__/layui/css/layui.css" />
</head>

<body>
  <blockquote class="layui-elem-quote">账户提现</blockquote>
  <fieldset class="layui-elem-field" style="margin: 35px">
    <legend>提示</legend>
    <div class="layui-field-box">提现比例：1USDT = {$usdt_setting}RMB</div>
    <div class="layui-field-box">
      可提现金额：{:session('userData.coin')} RMB
    </div>
    <div class="layui-field-box" id="usdt-total">
    </div>
  </fieldset>
  <form class="layui-form" style="margin-right: 50px;">
    <div class="layui-form-item">
      <label class="layui-form-label">出款方式</label>
      <div class="layui-input-block">
        <select lay-verify="required" lay-filter="switchTest" id="paymethod">
          <option value="0">银行卡</option>
          <option value="1">USDT钱包</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">选择钱包</label>
      <div class="layui-input-block">
        <select name="bankinfo" lay-verify="required" id="banks"></select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">提现金额</label>
      <div class="layui-input-inline" style="width: 180px">
        <input type="number" name="amount" required lay-verify="required" min="100" placeholder="请输入提现金额"
          autocomplete="off" class="layui-input" value="100" />
      </div>

      <div class="layui-form-mid layui-word-aux">
        RMB
      </div>
      <div class="layui-input-inline" style="width: 100px;">
        <input type="number" name="num" required lay-verify="required" autocomplete="off" class="layui-input"
          id="usdt-num" readonly />
      </div>
      <div class="layui-form-mid layui-word-aux" id="usdt">
        USDT
      </div>
      <div class="layui-form-mid layui-word-aux">
        (单笔最低提现金额：<font style="color: red" id="minmoney">100</font>元，最高： <font id="maxmoneys" style="color: red">50000
        </font>元)
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">资金密码</label>
      <div class="layui-input-inline" style="width: 180px">
        <input type="password" name="secpass" required lay-verify="required" placeholder="请输入资金密码" autocomplete="off"
          class="layui-input" />
      </div>
    </div>
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">可提现金额</label>
        <div class="layui-input-block" style="padding-top: 12px">
          {$Request.session.userData.coin}
        </div>
      </div> -->
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="cashForm">
          立即提交
        </button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  <script src="__JS__/layui/layui.js"></script>
  <script>
    layui.use(["jquery", "form", "layer", "element"], function () {
      var form = layui.form,
        $ = layui.jquery,
        layer = layui.layer;
      // 计算
      var usdt_setting = "{$usdt_setting}";
      var user_coin = "{:session('userData.coin')}"
      $('#usdt-total').html('可提现USDT: ' + (user_coin / usdt_setting).toFixed(4))
      // 计算usdt
      $("#usdt-num").val(($("input[name=amount]").val() / usdt_setting).toFixed(4));
      $("input[name=amount]").on('blur keyup input', function () {
        var number = $(this).val();
        $("#usdt-num").val((number / usdt_setting).toFixed(4));
      });

      getBank(0);
      //监听指定开关
      form.on("select(switchTest)", function (data) {
        getBank(data.value);
      });

      function getBank(params) {
        if (params == 0) {
          $('#usdt-num').hide();
          $('#usdt').hide();

        } else {
          $('#usdt-num').show();
          $('#usdt').show();
        }
        $.ajax({
          url: "/user/get_banks?type=" + params,
          type: "get",
          success: function (data) {
            if (data.code == 200) {
              $("#banks").empty();
              $.each(data.data, function (index, item) {
                $("#banks").append(
                  new Option(
                    item.account + "(" + item.username + ")",
                    item.id
                  )
                ); // 下拉菜单里添加元素
              });

              form.render("select");
            }
          },
        });
      }
      form.on("submit(cashForm)", function (data) {
        let params = data.field;
        layer.confirm(
          "您确认提交吗？", {
            btn: ["确定", "取消"], //按钮
          },
          function () {
            $.ajax({
              url: "/user/withdraw",
              type: "post",
              data: params,
              beforeSend: function () {
                this.layerIndex = layer.load(0, {
                  shade: [0.5, "#393D49"],
                });
              },
              success: function (data) {
                if (data.code == 200) {
                  layer.msg(
                    data.msg, {
                      icon: 6, //成功的表情
                      time: 1000, //1秒关闭（如果不配置，默认是3秒）
                    }
                    // function () {
                    // timeCountDown(data.data, $(".layui-btn"));
                    // }
                  );
                } else {
                  layer.msg(data.msg, {
                    icon: 5,
                    time: 2000,
                  }); //失败的表情
                }
              },
              complete: function () {
                layer.close(this.layerIndex);
              },
            });
          },
          function () {}
        );
        return false;
      });
    });
  </script>
</body>

</html>