<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>账户充值</title>
  <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
</head>

<body>
  <div class="ys-content" style="height: 800px; background: #fff">
    <h2 style="
          color: #584204;
          background-color: #a39a7d;
          font-size: 18px;
          font-weight: 700;
          padding: 15px 30px;
        " class="header">
      账号充值
    </h2>
    <fieldset class="layui-elem-field layui-field-title" style="margin:20px;">
      <legend>提示</legend>
      <div class="layui-field-box">
        充值比例：1USDT = 6.54RMB
      </div>
    </fieldset>
    <div class="layui-tab" style="padding: 20px">
      <ul class="layui-tab-title">
        <li class="layui-this">银行卡充值</li>
        <li>USDT充值</li>
      </ul>
    
      <div class="layui-tab-content">
        {volist name="$bank" id="vo" key='k'}

        <div class="layui-tab-item {$k==1?'layui-show':''}">
          <form class="layui-form layui-form-pane" action="" style="margin-right: 200px; padding: 30px">
            <div class="layui-form-item">
              <label class="layui-form-label">
                {if condition='$vo.bankId===0'}
                USDT平台
                {else /}
                开户行：
                {/if}
              </label>
              <div class="layui-input-block">
                {if condition='$vo.bankId===0'}

                <input type="text" class="layui-input" value="{$vo.bankDetail}" readonly />
                {else /}

                <input type="text" class="layui-input" value=" {$vo.banklist.name}" readonly />
                {/if}

              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">{if condition='$vo.bankId===0'}
                持有人
                {else /}
                持卡人：
                {/if}</label>
              <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$vo.username}" readonly />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">
                {if condition='$vo.bankId===0'}
                USDT地址
                {else /}
                银行卡号：
                {/if}</label>
              <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$vo.account}" readonly />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">充值金额：</label>
              <div class="layui-input-inline">
                <input name="amount" type="number" min="0.01" required value="0.01" class="layui-input" />
              </div>
              <div class="layui-form-mid layui-word-aux">
                充值金额范围:100-50000元,必须带小数点
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-inline">
                <button class="layui-btn" lay-submit data-type='bank' lay-filter="rechargeForm" {$vo?'':'disabled'}
                  style="cursor: {$vo?'':'not-allowed'};background:{$vo?'':'#999'}; color:#fff;">
                  立即提交
                </button>
              </div>
              <div class="layui-form-mid layui-word-aux">
                转账成功后，再点确定，否则无法到账！
              </div>
            </div>
          </form>
        </div>
        {/volist}

      </div>
    </div>
  </div>
  <script src="__JS__/layer/layui/layui.js"></script>
  <script>
    var intDiff = parseInt(0); //倒计时总秒数量
    var from = "{$rechargeFromTime}";
    var to = "{$rechargeToTime}";
    layui.use(["jquery", "form", "layer", "element"], function () {
      var form = layui.form(),
        $ = layui.jquery,
        element = layui.element
      layer = layui.layer;

      //监听提交
      form.on("submit(rechargeForm)", function (data) {
        let params = data.field;
        params.type = $(this).data('type')
        layer.confirm(
          "充值时间 " + from + " 到 " + to + "您确认提交吗？",
          {
            btn: ["确定", "取消"], //按钮
          },
          function () {
            $.ajax({
              url: "/user/recharge",
              type: "post",
              data: params,
              beforeSend: function () {
                this.layerIndex = layer.load(0, {
                  shade: [0.5, "#393D49"],
                });
              },
              success: function (data) {
                if (data.code == 1) {
                  layer.msg(
                    data.msg,
                    {
                      icon: 6, //成功的表情
                      time: 1000, //1秒关闭（如果不配置，默认是3秒）
                    },
                    function () {
                      timeCountDown(data.data, $(".layui-btn"));
                    }
                  );
                } else {
                  layer.msg(data.msg, { icon: 5, time: 2000 }, function () {
                    timeCountDown(data.data, $(".layui-btn"));
                  }); //失败的表情
                }
              },
              complete: function () {
                layer.close(this.layerIndex);
              },
            });
          },
          function () { }
        );
        return false;
      });
    });
    //时间倒计时

    // 倒计时intDiff倒计时总秒数

    function timeCountDown(intDiff, showElement) {
      var timer = setInterval(function () {
        let day = 0;
        let hour = 0;
        let minute = 0;
        let second = 0;
        if (intDiff > 0) {
          day = Math.floor(intDiff / (60 * 60 * 24));
          hour = Math.floor(intDiff / (60 * 60)) - day * 24;
          minute = Math.floor(intDiff / 60) - day * 24 * 60 - hour * 60;
          second = Math.floor(intDiff) - day * 24 * 60 * 60 - hour * 60 * 60;
        }
        if (minute <= 9) minute = "0" + minute;
        if (second <= 9) second = "0" + second;
        showElement.attr("disabled", "disabled");
        showElement.html(`${second}秒`);

        intDiff--;
        if (intDiff < 0) {
          showElement.removeAttr("disabled");
          showElement.html("提交");
          clearInterval(timer);
        }
      }, 1000);
    }
  </script>
</body>

</html>