<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>账户充值</title>
    <link rel="stylesheet" href="__JS__/layer/layui/css/layui.css" />
  </head>
  <body>
    <div class="ys-content" style="height: 800px; background: #fff">
      <h2
        style="
          color: #584204;
          background-color: #a39a7d;
          font-size: 18px;
          font-weight: 700;
          padding: 15px 30px;
        "
        class="header"
      >
        账号充值
      </h2>
      <div class="layui-tab" style="padding: 20px">
        <ul class="layui-tab-title">
          <li class="layui-this">银行卡充值</li>
          <li>USDT充值</li>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">
            <table class="layui-table" lay-skin="nob">
              <thead>
                <tr>
                  <th>昵称</th>
                  <th>加入时间</th>
                  <th>签名</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>贤心</td>
                  <td>2016-11-29</td>
                  <td>人生就像是一场修行</td>
                </tr>
                <tr>
                  <td>许闲心</td>
                  <td>2016-11-28</td>
                  <td>
                    于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="layui-tab-item">内容2</div>
        </div>
      </div>
    </div>
    <script src="__JS__/layer/layui/layui.js"></script>
    <script>
      layui.use(["jquery", "form", "element"], function () {
        var form = layui.form(),
          layer = layui.layer,
          element = layui.element,
          $ = layui.jquery;

        //监听提交
        form.on("submit(usdtForm)", function (data) {
          $.ajax({
            url: "/user/usdt-account",
            type: "post",
            data: data.field,
            beforeSend: function () {
              this.layerIndex = layer.load(0, { shade: [0.5, "#393D49"] });
            },
            success: function (data) {
              if (data.code == 201) {
                layer.msg(
                  data.message,
                  {
                    icon: 6, //成功的表情
                    time: 1000, //1秒关闭（如果不配置，默认是3秒）
                  },
                  function () {
                    location.reload();
                  }
                );
              } else {
                layer.msg(data.message, { icon: 5 }); //失败的表情
                return;
              }
            },
            complete: function () {
              layer.close(this.layerIndex);
            },
          });
          return false;
        });
      });
    </script>
  </body>
</html>
