<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>银行资料</title>
    <link rel="stylesheet" href="__CSS__/ydui.css" />
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>

    <script src="__JS__/ydui.js"></script>
    <script>
      !(function (win, $) {
        var dialog = win.YDUI.dialog;

        var url = "__SELF__";
        //普通确认框
        $("#formBtn").on("click", function () {
          dialog.confirm("提示", "确认提交吧？", function () {
            $.ajax({
              type: "POST",
              url: url,
              data: {
                bankId: $("#bankId").val(),
                bankDetail: $("#bankDetail").val(),
                account: $("#account").val(),
                secpass: $("#secpass").val(),
              },

              success: function (data) {
                if (data.code == 1) {
                  dialog.toast(data.msg, "success", 1000);
                }
                if (data.code == 2) {
                  dialog.toast(data.msg, "error", 1000);
                }
                if (data.code == 3) {
                  dialog.toast(data.msg, "error", 1000);
                }
              },
            });
          });
        });
      })(window, jQuery);
    </script>
  </head>

  <body>
    <section class="g-flexview">
      <div class="g-scrollview">
        <header class="m-navbar" style="margin-bottom: 20px">
          <a href="javascript:history.back(-1);" class="navbar-item">
            <i class="back-ico"></i>返回
          </a>
          <div class="navbar-center">绑定银行卡</div>
          <a href="#" class="navbar-item"> </a>
        </header>
        <div class="m-cell" style="padding-bottom: 20px">
          <div class="cell-item">
            <div class="cell-left">开户行：</div>
            <label class="cell-right cell-arrow">
              <select class="cell-select" name="bankId" id="bankId">
                <volist name="banks" id="vo">
                  <option value="{$vo.id}">{$vo.name}</option>
                </volist>
              </select>
            </label>
          </div>
          <div class="cell-item">
            <div class="cell-left">开户支行：</div>
            <div class="cell-right">
              <input
                type="text"
                class="cell-input"
                placeholder="请输入支行"
                id="bankDetail"
              />
            </div>
          </div>
          <div class="cell-item">
            <div class="cell-left">持有人：</div>
            <div class="cell-right">
              <input
                type="text"
                class="cell-input"
                placeholder="请输入持有人"
              />
            </div>
          </div>
          <div class="cell-item">
            <div class="cell-left">卡号：</div>
            <div class="cell-right">
              <input
                type="text"
                class="cell-input"
                placeholder="请输入卡号"
                id="account"
              />
            </div>
          </div>
          <div class="cell-item">
            <div class="cell-left">资金密码：</div>
            <div class="cell-right">
              <input
                type="password"
                class="cell-input"
                placeholder="请输入资金密码"
                id="secpass"
              />
            </div>
          </div>
          <div class="m-button">
            <a href="javascript:;" class="btn-block btn-danger" id="formBtn"
              >立即提交</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
