<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银行资料</title>
    <link rel="stylesheet" href="__CSS__/ydui.css">
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>

    <script src="__JS__/ydui.js"></script>
</head>

<body>
    <header class="m-navbar" style="margin-bottom: 20px;">
        <a href="javascript:history.back(-1);" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">
            绑定usdt钱包
        </div>
        <a href="#" class="navbar-item">

        </a>
    </header>
    <div class="m-cell">

        <div class="cell-item">
            <div class="cell-left">开户行：</div>
            <label class="cell-right cell-arrow">
                <select class="cell-select" name="bankId">
                    <volist name="banks" id="vo">
                        <option value="{$vo.id}">{$vo.name}</option>
                    </volist>
                </select>
            </label>
        </div>
        <div class="cell-item">
            <div class="cell-left">开户支行：</div>
            <div class="cell-right"><input type="text" class="cell-input" placeholder="请输入支行" autocomplete="off" />
            </div>
        </div>
        <div class="cell-item">
            <div class="cell-left">持有人：</div>
            <div class="cell-right"><input type="text" class="cell-input" placeholder="请输入持有人" autocomplete="off" />
            </div>
        </div>
        <div class="cell-item">
            <div class="cell-left">卡号：</div>
            <div class="cell-right"><input type="text" class="cell-input" placeholder="请输入持有人" autocomplete="off" />
            </div>
        </div>
        <div class="m-button">
            <a href="javascript:;" class="btn-block btn-danger" id="J_OpenKeyBoard">立即提交</a>
        </div>
    </div>
</body>

</html>