<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银行资料</title>
    <link rel="stylesheet" href="__CSS__/ydui.css">
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>

    <script src="__JS__/ydui.js"></script>
</head>

<body>
    <header class="m-navbar">
        <a href="javascript:history.back(-1);" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">
            银行资料
        </div>
        <a href="#" class="navbar-item">

        </a>
    </header>
    <article class="m-list list-theme2">
        <a href="#" class="list-item">
            <div class="list-img">
                <img src="http://img1.shikee.com/try/2016/06/19/09430120929215230041.jpg_220x220.jpg">
            </div>
            <div class="list-mes">
                <h3 class="list-title">标题标题标题标题标题</h3>
                <div class="list-mes-item">
                    <div>
                        <span class="list-price"><em>¥</em>34.7</span>
                        <span class="list-del-price">¥45.65</span>
                    </div>
                    <div>right</div>
                </div>
            </div>
        </a>
        <a href="#" class="list-item">
            <div class="list-img">
                <img src="http://img1.shikee.com/try/2016/06/21/10172020923917672923.jpg_220x220.jpg">
            </div>
            <div class="list-mes">
                <h3 class="list-title">骆驼男装2016夏装男士短袖T恤 圆领衣服 印花男装体恤 半袖打底衫</h3>
                <div class="list-mes-item">
                    <div>
                        <span class="list-price"><em>¥</em>34.7</span>
                        <span class="list-del-price">¥45.65</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="list-item">
            <div class="list-img">
                <img src="http://img1.shikee.com/try/2016/06/23/15395220917905380014.jpg_220x220.jpg">
            </div>
            <div class="list-mes">
                <h3 class="list-title">条纹短袖T恤男士韩版衣服大码潮流男装夏季圆领体恤2016新款半袖</h3>
                <div class="list-mes-item">
                    <div>
                        <span class="list-price"><em>¥</em>34.7</span>
                        <span class="list-del-price">¥45.65</span>
                    </div>
                </div>
            </div>
        </a>
    </article>
</body>

</html>