<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>银行资料</title>
    <link rel="stylesheet" href="__CSS__/ydui.css">
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>

    <script src="__JS__/ydui.js"></script>
</head>

<body>
    <header class="m-navbar">
        <a href="javascript:history.back(-1);" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">
            银行资料
        </div>
        <a href="#" class="navbar-item">

        </a>
    </header>
    <div class="m-gridstitle">银行卡</div>
    <div class="m-grids-5">
        <a href="#" class="grids-item">
            <div class="grids-txt"><span>用户名</span></div>
        </a>
        <a href="#" class="grids-item">
            <div class="grids-txt"><span>绑定银行</span></div>
        </a>
        <a href="#" class="grids-item">
            <div class="grids-txt"><span>卡号</span></div>
        </a>
        <a href="#" class="grids-item">
            <div class="grids-txt"><span>绑定时间</span></div>
        </a>
        <a href="#" class="grids-item">
            <div class="grids-txt"><span>操作</span></div>
        </a>
    </div>
</body>

</html>