<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线充值</title>
    <link rel="stylesheet" href="__CSS__/ydui.css">
</head>

<body>
    <header class="m-navbar">
        <a href="javascript:history.back(-1);" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">

        </div>
        <a href="#" class="navbar-item">

        </a>
    </header>
    <div class="m-tab" data-ydui-tab style="margin-top: .1rem;">
        <!-- 这里添加data-ydui-tab就可以啦 -->
        <ul class="tab-nav">
            <li class="tab-nav-item tab-active"><a href="javascript:;">银行卡充值</a></li>
            <li class="tab-nav-item"><a href="javascript:;">USDT充值</a></li>
        </ul>
        <div class="tab-panel">
            <volist name="bank" id="vo" key="k">

                <div class="tab-panel-item {$k==1?'tab-active':''}">
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    USDT平台:&nbsp;&nbsp;
                                    <else />
                                    开户行:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">
                                <if condition='$vo.bankId eq 0'>
                                    <input type="text" class="cell-input" id="bank-detail" readonly
                                        value="{$vo.bankDetail}" />
                                    <else />
                                    <input type="text" class="cell-input" readonly value="{$bankName.name}" />
                                </if>
                            </div>
                        </div>
                    </div>
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    持有人:&nbsp;&nbsp;
                                    <else />
                                    持卡人:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">

                                <input type="text" class="cell-input" readonly value="{$vo.username}" />

                            </div>
                        </div>
                    </div>
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    USDT地址:&nbsp;&nbsp;
                                    <else />
                                    银行卡号:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">

                                <input type="text" class="cell-input account" readonly value="{$vo.account}" />

                            </div>
                        </div>
                    </div>

                    <if condition='$vo.bankId eq 0'>
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left">
                                    充值个数:&nbsp;&nbsp;
                                </div>
                                <div class="cell-right">

                                    <input min="1" value="1" type="number" id="num" name="num" class="cell-input" />

                                </div>
                            </div>
                        </div>
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left">
                                    转换为:&nbsp;&nbsp;
                                </div>
                                <div class="cell-right">

                                    <input type="number" class="cell-input" id="usdt-amount" readonly />
                                    RMB
                                </div>
                            </div>
                        </div>
                        <else />
                        <div class="m-cell">
                            <div class="cell-item">
                                <div class="cell-left">
                                    充值金额:&nbsp;&nbsp;
                                </div>
                                <div class="cell-right">

                                    <input min="100" value="100" type="number" class="cell-input" id="bank-amount" />

                                </div>
                            </div>
                        </div>
                    </if>

                    <button type="button" {$bank?'':'disabled'}" class="btn-block btn-primary formBtn"
                        data-id='{$vo.bankId}'>立即提交</button>
                </div>
            </volist>

        </div>
    </div>
    <div class="m-gridstitle">提示</div>
    <p style="padding: 10px;font-size: .3rem;">1.充值比例:1USDT={$settings['usdt_setting']}RMB</p>
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>

    <script src="__JS__/ydui.js"></script>
    <script>
        ! function (win, $) {
            var dialog = win.YDUI.dialog;
            var from = '{$settings.rechargeFromTime}';
            var to = '{$settings.rechargeToTime}';
            var url = '__SELF__';
            var usdt_setting = "{$settings['usdt_setting']}";
            // 计算usdt
            $("#usdt-amount").val(($("input[name=num]").val() * usdt_setting).toFixed(4));
            $("input[name=num]").on('blur keyup input', function () {
                var number = $(this).val();
                $("#usdt-amount").val((number * usdt_setting).toFixed(4));
            });
            //普通确认框
            $('.formBtn').on('click', function () {
                dialog.confirm('提示', '充值时间 ' + from + ' 到 ' + to + '确认提交吧？', function () {
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            bank_amount: $('#bank_amount').val(),
                            usdt_amount: $('#usdt_amount').val(),
                            num: $('#num').val(),
                            bankId: $(this).data('id'),
                            bankDetail: $('#bank-detail').val(),
                        },

                        success: function (data) {
                            if (data.code == 1) {

                                dialog.toast(data.msg, 'success', 1000);
                                timeCountDown(data.data, $('.formBtn'))
                            }
                            if (data.code == 2) {
                                dialog.toast(data.msg, 'error', 1000);

                                timeCountDown(data.data, $('.formBtn'))
                            }
                            if (data.code == 3) {
                                dialog.toast(data.msg, 'error', 1000);
                            }
                        },

                    });
                });
            });

        }(window, jQuery);

        function timeCountDown(intDiff, showElement) {
            var timer = setInterval(function () {
                let day = 0;
                let hour = 0;
                let minute = 0;
                let second = 0;
                if (intDiff > 0) {
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60);
                }
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                showElement.attr("disabled", "disabled");
                showElement.html(`${second}秒`);

                intDiff--;
                if (intDiff < 0) {
                    showElement.removeAttr("disabled")
                    showElement.html('提交');
                    clearInterval(timer)
                }
            }, 1000);
        }
    </script>

</body>

</html>