<extend name="Base/common" />

<block name="title">
    <title>在线充值－{:S('WEB_NAME')}</title>
</block>
<block name="style">
    <link rel="stylesheet" href="__CSS__/ydui.css">
</block>

<block name="header"></block>
<block name="body">
    <header class="m-navbar">
        <a href="#" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">

        </div>
        <a href="#" class="navbar-item">

        </a>
    </header>
    <div class="m-tab" data-ydui-tab style="margin-top: .1rem;">
        <!-- 这里添加data-ydui-tab就可以啦 -->
        <ul class="tab-nav">
            <li class="tab-nav-item tab-active"><a href="javascript:;">银行卡充值</a></li>
            <li class="tab-nav-item"><a href="javascript:;">USDT充值</a></li>
        </ul>
        <div class="tab-panel">
            <volist name="bank" id="vo" key="k">

                <div class="tab-panel-item {$k==1?'tab-active':''}">
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    USDT平台:&nbsp;&nbsp;
                                    <else />
                                    开户行:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">
                                <if condition='$vo.bankId eq 0'>
                                    <input type="text" class="cell-input" readonly value="{$vo.bankDetail}" />
                                    <else />
                                    <input type="text" class="cell-input" readonly value="{$bankName.name}" />
                                </if>
                            </div>
                        </div>
                    </div>
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    持有人:&nbsp;&nbsp;
                                    <else />
                                    持卡人:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">

                                <input type="text" class="cell-input" readonly value="{$vo.username}" />

                            </div>
                        </div>
                    </div>
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                <if condition='$vo.bankId eq 0'>
                                    USDT地址:&nbsp;&nbsp;
                                    <else />
                                    银行卡号:&nbsp;&nbsp;
                                </if>
                            </div>
                            <div class="cell-right">

                                <input type="text" class="cell-input" readonly value="{$vo.account}" />

                            </div>
                        </div>
                    </div>
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">
                                充值金额:&nbsp;&nbsp;
                            </div>
                            <div class="cell-right">

                                <input min="0.01" value="0.00" type="number" class="cell-input" />

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-block btn-primary formBtn">立即提交</button>
                </div>
            </volist>

        </div>
    </div>
    <script>
        !function (win, $) {
            alert(win.YDUI.dialog.confirm('选填标题', '我有一个小毛驴我从来也不骑！', function () {
                    dialog.toast('你点了确定', 'none', 1000);
                }));
            
            var dialog = win.YDUI.dialog;
    
            //普通确认框
            $('.formBtn').on('click', function () {
                alert(111)
                dialog.confirm('选填标题', '我有一个小毛驴我从来也不骑！', function () {
                    dialog.toast('你点了确定', 'none', 1000);
                });
            });
            //自定义按钮确认框
            $('#J_ConfirmCustom').on('click', function () {
                dialog.confirm('自定义按钮', '我有一个小毛驴我从来也不骑！', [
                    {
                        txt: '取消',
                        color: false, //false:黑色  true:绿色 或 使用颜色值
                        callback: function () {
                            dialog.toast('你点了取消', 'none', 1000);
                        }
                    },
                    {
                        txt: '犹豫一下',
                        stay: true, //是否保留提示框
                        color: '#CCC', //使用颜色值
                        callback: function () {
                            dialog.toast('别犹豫了', 'none', 1000);
                        }
                    },
                    {
                        txt: '确定',
                        color: true,
                        callback: function () {
                            dialog.toast('你点了确定', 'none', 1000);
                        }
                    }
                ]);
            });
    
            //普通提示框
            $('#J_Alert').on('click', function () {
                dialog.alert('消息一出，休想滚动屏幕【移动终端】！');
            });
    
            //正确提示框
            $('#J_ToastS').on('click', function () {
                dialog.toast('鼠标不错哟！', 'success', 1000);
            });
    
            //错误提示框
            $('#J_ToastE').on('click', function () {
                dialog.toast('别乱点啊！', 'error', 1000, function () {
                    dialog.alert('给你一次重来的机会！');
                });
            });
    
            //不带图标提示框
            $('#J_ToastN').on('click', function () {
                dialog.toast('一个没有任何图标的提示！', 'none', 1000);
            });
    
            //加载中提示框
            $('#J_Loading').on('click', function () {
                dialog.loading.open('很快加载好了');
                setTimeout(function () {
                    dialog.loading.close();//移除loading
                }, 2000);
            });
    
            // 顶部提示框
            $('#J_Notify').on('click', function () {
                dialog.notify('5秒后自动消失，点我也可以消失！', 5000, function(){
                    console.log('我走咯！');
                });
            });
        }(window, jQuery);
    </script>
 
    <!-- <script>
        
        !function (win, ydui) {
            var dialog = ydui.dialog
           $('.formBtn').click(function () {
            dialog.toast('你点了确定', 'none', 1000);
               //   if (!$('#amt').val()) {
               //       swal("金额不能为空");
               //       return;
               //   }
               //   if ($('#amt').val() == 0) {
               //       swal({
               //           title: "提示!",
               //           text: '金额不能为0元',
               //           icon: "error",
               //           button: "确定",
               //       });
               //       return;
               //   }
            //    var from = '{$settings.rechargeFromTime}';
            //    var to = '{$settings.rechargeToTime}';
            //    var url = '__SELF__';
            //    dialog.confirm('选填标题', '我有一个小毛驴我从来也不骑！', function () {
            //     dialog.toast('你点了确定', 'none', 1000);
            // });
   
           });
       }(window, YDUI);
   </script> -->
</block>
<block name="script">
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/jquery.min.js"></script>
  
    <script src="__JS__/ydui.js"></script>

</block>
<block name="footer"></block>