<extend name="Base/common"/>

<block name="title">
  <title>在线充值－{:S('WEB_NAME')}</title>
</block>
<block name="style">
    <link rel="stylesheet" href="__CSS__/ydui.css">
</block>
<block name="script">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/ydui.flexible.js"></script>
    <script src="__JS__/ydui.js"></script>
</block>
<block name="header"></block>
<block name="body">
    <header class="m-navbar">
        <a href="#" class="navbar-item">
            <i class="back-ico"></i>返回
        </a>
        <div class="navbar-center">
           
        </div>
        <a href="#" class="navbar-item">
           
        </a>
    </header>
    <div class="m-tab" data-ydui-tab style="margin-top: .5rem;"><!-- 这里添加data-ydui-tab就可以啦 -->
        <ul class="tab-nav">
            <li class="tab-nav-item tab-active"><a href="javascript:;">选项一</a></li>
            <li class="tab-nav-item"><a href="javascript:;">选项二</a></li>
            <li class="tab-nav-item"><a href="javascript:;">选项三</a></li>
            <li class="tab-nav-item"><a href="javascript:;">选项四</a></li>
        </ul>
        <div class="tab-panel">
            <div class="tab-panel-item tab-active">111111</div>
            <div class="tab-panel-item">222222</div>
            <div class="tab-panel-item">333333</div>
            <div class="tab-panel-item">444444</div>
        </div>
    </div>
</block>
<block name="footer"></block>