<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="description"
  content="1元夺宝，就是指只需1元就有机会获得一件商品，是基于网易邮箱平台孵化的新项目，好玩有趣，不容错过。"
/>
<meta
  name="keywords"
  content="1元,一元,1元夺宝,1元购,1元购物,1元云购,一元夺宝,一元购,一元购物,一元云购,夺宝奇兵"
/>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=no,minimum-scale=1.0, maximum-scale=1.0"
/>
<block name="title"><title>{:S('WEB_NAME')}</title></block>
<link
  type="text/css"
  rel="stylesheet"
  href="__CSS__/jquery-ui-1.8.21.custom.css"
/>
<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />

<script src="__JS__/helang-flexible.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="__JS__/comm.js?v=wj5.0"></script>
<script
  type="text/javascript"
  src="__JS__/jquery-ui-1.8.23.custom.min.js"
></script>
<script type="text/javascript" src="__JS__/jquery.simplemodal.src.js"></script>

<!-- IE浏览器时需要以下js支持 -->

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
<!--
		<script language="javascript" src="https://uapi.pop800.com/800.js?n=986285&s=01&p=l&l=cn&c=223d7bee37453c49"></script><div style="display:none;">< a href=" ">POP800在线客服系统</ a></div>
-->
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script>
  window.__lc = window.__lc || {};
  window.__lc.license = 12417642;
  (function (n, t, c) {
    function i(n) {
      return e._h ? e._h.apply(null, n) : e._q.push(n);
    }

    var e = {
      _q: [],
      _h: null,
      _v: "2.0",
      on: function () {
        i(["on", c.call(arguments)]);
      },
      once: function () {
        i(["once", c.call(arguments)]);
      },
      off: function () {
        i(["off", c.call(arguments)]);
      },
      get: function () {
        if (!e._h)
          throw new Error(
            "[LiveChatWidget] You can't use getters before load."
          );
        return i(["get", c.call(arguments)]);
      },
      call: function () {
        i(["call", c.call(arguments)]);
      },
      init: function () {
        var n = t.createElement("script");
        (n.async = !0),
          (n.type = "text/javascript"),
          // (n.src = "https://cdn.livechatinc.com/tracking.js"),
          t.head.appendChild(n);
      },
    };
    !n.__lc.asyncInit && e.init(), (n.LiveChatWidget = n.LiveChatWidget || e);
  })(window, document, [].slice);
</script>
<noscript
  ><a href="https://www.livechatinc.com/chat-with/12417642/" rel="nofollow"
    >Chat with us</a
  >, powered by
  <a
    href="https://www.livechatinc.com/?welcome"
    rel="noopener nofollow"
    target="_blank"
    >LiveChat</a
  ></noscript
>
<!-- End of LiveChat code -->
