<!--//foot//-->
<style>
    .client {
        background: #2f2e3b;
        color: #4d4d4d;
        padding: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        height: 70px;
        min-width: 980px;
        position: relative;
    }

    .newContainer {
        width: 980px;
        display: inline-block;
        overflow: hidden;
    }

    .newContainer a {
        cursor: default;
    }

    .newContainer .service {
        height: 70px;
        float: left;
        background-image: url(/sy2/images/allicon.png);
    }

    .newContainer a:nth-child(1) .service {
        width: 170px;
        background-position: -60px -1965px;
    }

    .newContainer a:nth-child(2) .service {
        width: 230px;
        background-position: -243px -1965px;
    }

    .newContainer a:nth-child(3) .service {
        width: 200px;
        background-position: -475px -1965px;
    }

    .newContainer a:nth-child(4) .service {
        width: 190px;
        background-position: -690px -1965px;
    }

    .newContainer a:nth-child(5) .service {
        width: 180px;
        background-position: -880px -1965px;
    }

    .footer .container .footerTop ul li {
        float: left;
        padding: 0px 10px 0px 10px;
        margin: 0px 0 10px 0;
        border-right: 1px solid #393847;
    }

    .footer .container .footerTop ul li a {
        color: #fff;
        padding-bottom: 8px;
        font-size: 14px;
    }

    .footer .container .footerTop ul li:hover a {
        color: #E5D4B2;
        /* border-bottom: 1px solid #ff9140; */
    }

    .footer .warning {
        color: #5d5d66;
    }

    .footer .container div {
        color: #e5d4b2;
        overflow: hidden;
        font-size: 14px;
    }

    .footerBottom {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footerBottom .footerleft {
        float: left;
    }

    .footerBottom .footerright {
        float: right;
    }

    .footerBottom .footerright .logos {
        width: 330px;
        height: 40px;
        /* background-image: url(/sy2/images/allicon.png); */
        background-position: -270px -67px;
        float: right;
    }
</style>


<div class="footer">
    <!-- <div id="client" class="client">
        <div class="newContainer">
            <a><div class="service"></div></a>
            <a><div class="service"></div></a>
            <a><div class="service"></div></a>
            <a><div class="service"></div></a>
            <a><div class="service"></div></a>
        </div>

    </div>client -->

    <div class="container">

        <div class="footerBottom">
            <div class="footerleft">
                <div class="warning">© 2020 娱乐版权所有</div>
                <!-- <div class="declare">郑重提示：彩票有风险，投注需谨慎，不向未满18周岁的青少年出售彩票</div>
                <div class="declare">浏览器建议:首选为Chrome浏览器,其次为火狐和IE11浏览器</div> -->
            </div>
            <div class="footerright">
                <!-- <div class="footerTop">
                    <ul>
                        <li><a href="https://3n.srcdownload.com/client/3nclient_3_0_0_2.zip"
                               one-link-mark="yes">PC客户端一</a></li>
                        <li><a href="https://3ndown.srcsonline.com/client/3nclient_3_0_0_2.zip" one-link-mark="yes">PC客户端二</a>
                        </li>
                        <li><a href="https://3niu18.com/help_main.shtml?tag=cjwt" one-link-mark="yes">帮助中心</a></li>
                        <li><a href="javascript:void(0)" onclick="openKefu();return false;"
                               one-link-mark="yes">联系我们</a>
                        </li>
                        <li><a href="https://3niu99.com/" target="_blank" one-link-mark="yes">域名验证/网站测速</a></li>
                      <li><a href="http://3niu6.com">推荐线路</a></li>
                    </ul>
                    <div class="logos"
                         style="background-image: url(&quot;https://n7ws.jnfzdz.cn/sy2/images/3new/allicon.png&quot;);"></div>
                </div> -->
            </div>
        </div>

    </div><!-- container -->
</div><!-- footer -->
<!-- wrap -->

<script>
    //呼叫客戶端內的瀏覽器,另開網頁視窗
    function ShowVideo(name) {
        cef.showvideo(name);
    }


    for (i = 0; i < $(".client_pop").length; i++) {
        $(".client_pop:eq(" + i + ")").click({id: i}, function (e) {
            n = e.data.id;
            $(".client_popup:eq(" + n + ")").addClass("display");
            $(".client_popup:not(:eq(" + n + "))").removeClass("display");
            if ($(".client_popup").hasClass("display")) {
                $(".client .client_popup .close, body").on('click', function (e) {
                    $(".client .client_popup").removeClass("display");
                });
            }
        });
    }
    $(".client_pop").on("click", function (e) {
        e.stopPropagation();
    });

    $("body").on('click', ".display", function (e) {
        if (!$(e.target).attr('target')) {
            return false;
        }
    });

    $(function () {
        //iframe 高度自適應修正 Hsien 2016/9/29。
        $('#mainFrame').load(function (e) {
            var wrap = $(this).contents().find('body #wrap');

            if (!($.trim(wrap.find('.color-green').text()) === '由于您长时间未操作，请重新登录！')) {
                wrap.find('a.confirm').attr('target', '_self');
            }

            if (wrap.is('div')) {
                var mainheight = 680;
                //console.log(mainheight);
            } else {
                //var mainheight = parseInt($(this).contents().find('body').height())+30;
                var mainheight = parseInt($(this).contents().find('body').height());
            }

            $(this).height(mainheight);
        });
    });

</script>
<!-- 客服系统 -->

<div>
    <!--        <script type="text/javascript">-->
    <!--            window.$zopim || (function (d, s) {-->
    <!--                var z = $zopim = function (c) {-->
    <!--                    z._.push(c)-->
    <!--                }, $ = z.s =-->
    <!--                    d.createElement(s), e = d.getElementsByTagName(s)[0];-->
    <!--                z.set = function (o) {-->
    <!--                    z.set._.push(o)-->
    <!--                };-->
    <!--                z._ = [];-->
    <!--                z.set._ = [];-->
    <!--                $.async = !0;-->
    <!--                $.setAttribute("charset", "utf-8");-->
    <!--                $.src = "https://v2.zopim.com/?37EzcPO7P83hHpbXtpkUOfqbhlcY5Omo";-->
    <!--                z.t = +new Date;-->
    <!--                $.type = "text/javascript";-->
    <!--                e.parentNode.insertBefore($, e)-->
    <!--            })(document, "script");-->

    <!--            $zopim(function () {-->
    <!--                $zopim.livechat.setName('gxfc2345');-->
    <!--            });-->

    <!--            function openKefu() {-->
    <!--                $zopim.livechat.setName('gxfc2345');-->
    <!--                $zopim.livechat.window.openPopout();-->
    <!--            }-->
    <!--        </script>-->

</div>


</body>
</html>